<div class="top-content">
    
</div>
<div class="content">
    <section id="whats">
        <div class="whats-title">
            <h1>WHAT'S<small>&lt;HELPENは〜〜〜&gt;<small></h1>
        </div>
        <div class="whats-box">
            <!--<div class="row">-->
                <div class="small-3 columns">
                    イラストが入る
                </div>
                <div class="small-5 columns">
                    HELPENの説明
                </div>
            </div>
        </div>
    </section>
    <section id="how">
        <div class="how-title">
            <h1>HOW<small>&lt;helpenは・・・&gt;<small></h1>
        </div>
        <div class="how-box">
            <div id="small-3 columns">
                アプリ画像
            </div>
            <div id="small-5 columns">
                使い方
            </div>
        </div>
    </section>
</div>